.footer{
    background-color:var(--darkblue);
    border-top:1px solid var(--light-grey-3);
    padding:calc(var(--baseline)) 0 calc(var(--baseline)) 0;
    margin-top: auto;
   
}


.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-family: dosis;
    background-color: var(--darkblue);
    
}

.slogan {
    font-size: smaller;
    text-align: left;
    color: var(--light-grey-1);
}

.fulus {
    font-size: small;
    text-align: left;
    color: var(--light-grey-2);
}

.footer-right-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.small-print {
    padding-top: 0.5rem;
    font-size: xx-small;
    color: var(--light-grey-1)
}

li {
    list-style: none;
}
