@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;700&family=Montserrat:wght@300;400;700&family=Noto+Sans:ital@0;1&family=Oxygen&family=Oxygen+Mono&display=swap);
:root {
    --font-family-default: system;
    
    --font-size-plus-4: 1rem;
    --font-size-plus-3: 1rem;
    --font-size-plus-2: 1rem;
    --font-size-plus-1: 1rem;
    --font-size-baseline: 1rem;
    --font-size-minus-1: 1rem;
    --font-size-minus-2: 1rem;
    --font-size-minus-3: 1rem;
    --font-size-minus-4: 1rem;

    --baseline: 1.5rem;
    --gutter: 24px;
    --max-container-width: 1200px;
    
    --light-grey-1: hsl(0, 0%, 96%);
    --light-grey-2: hsl(0, 0%, 90%);
    --light-grey-3: hsl(0, 0%, 80%);
    --mid-grey-1: hsl(0, 0%, 70%);
    --mid-grey-2: hsl(0, 0%, 60%);
    --mid-grey-3: hsl(0, 0%, 50%);
    --dark-grey-1: hsl(0, 0%, 46%); //lightest AA accessible grey on white
    --dark-grey-2: hsl(0, 0%, 30%);
    --dark-grey-3: hsl(0, 0%, 20%);
    --off-black: hsl(0, 0%, 10%);
    --highlight: hsl(49, 98%, 56%);
    --default-color: hsl(0, 0%, 10%);
    --green: #729599;
    --blue: #BCC5CE;
    --cream: #E6DFD9;
    --brown: #BFB3A8;
    --dark: #7A7067;
    /* Color Theme Swatches in Hex */
    --darkblue: #012E40;
    --darkgreen: #024959;
    --greenstrong: #2C7373;
    --lightgreen: #B6F2EC;
    --mint: #A3D9D3;

/* Color Theme Swatches in RGBA */
$Rebranding-of-the-bank-guarantee-service-1-rgba: rgba(1,46,63, 1);
$Rebranding-of-the-bank-guarantee-service-2-rgba: rgba(1,73,89, 1);
$Rebranding-of-the-bank-guarantee-service-3-rgba: rgba(43,114,114, 1);
$Rebranding-of-the-bank-guarantee-service-4-rgba: rgba(181,242,236, 1);
$Rebranding-of-the-bank-guarantee-service-5-rgba: rgba(162,216,211, 1);

/* Color Theme Swatches in HSLA */
$Rebranding-of-the-bank-guarantee-service-1-hsla: hsla(196, 96, 12, 1);
$Rebranding-of-the-bank-guarantee-service-2-hsla: hsla(191, 96, 17, 1);
$Rebranding-of-the-bank-guarantee-service-3-hsla: hsla(180, 44, 31, 1);
$Rebranding-of-the-bank-guarantee-service-4-hsla: hsla(174, 70, 83, 1);
$Rebranding-of-the-bank-guarantee-service-5-hsla: hsla(174, 41, 74, 1);

    

    --light-weight: 300;
    --regular-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;

    --measure: 40em;
    
    --bp-xs: 480px;
    --bp-sm: 768px;
    --bp-md: 1024px;
    --bp-lg: 1200px;
}

$columns: 12;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 1024px,
    lg: 1200px
);

// conversion table from mq-breakpoints and grid classNames
$grid-names: (
    xs: default,
    sm: sm,
    md: md,
    lg: lg
);



